*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: #ffffff;
    color: #363636;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}


/*---------------------------*/
/*RESUABLE COMPONENTS */
/*---------------------------*/
.row{
    margin: 0 20px 0 20px;
}
section{
    padding: 80px 0;
}
.box{
    padding: 1%;
}
.box p{
    letter-spacing: 0.3px;
}

/*---------------------------*/
/*HEADING*/
/*---------------------------*/

h1{
    margin: 0 0 20 auto;
    padding-left: 100px;
    color: #000000;
    font-weight: 300;
    font-size: 240%;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    word-spacing: 4px;
}

/*---------------------------*/
/*BUTTONS*/
/*---------------------------*/

.btn:link,
.btn:visited,
input[type=submit]{
    display:inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
}
.btn-full:link,
.btn-full:visited,
input[type=submit]{
    margin-left: 100px;
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 40px;
}
.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #e67e22;
    color: #e67e22;
    margin-right: 40px;
}
.btn-host:link,
.btn-host:visited{
    border: 1px solid #e67e22; 
    color: #e67e22;
    margin-right: 40px;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #d18012;
}

.btn-full:hover,
.btn-full:active{
    background-color:#d18012;
}
.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #d18012;
    color: #fff;
}
.btn-host:hover,
.btn-host:active{
    border: 1px solid #d18012; 
    color: #fff;
}

/*---------------------------*/
/*HEADER*/
/*---------------------------*/

header{ 
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(img/3rdchoice.jpg);
    background-size: cover;
    background-position: center;*/
    /*height: 100vh;*/
    background-color: #413e3e;
}
.bgimage{
    background-image: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.01)),url(img/9thchoice.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    /*opacity: 0.7;*/
}
.bg-text-box{
    position: absolute;
    width: 1140px;
    top: 45%;
    left: 0%;
    text-transform: (-50%,-50%);
}

.name{
    color: #ffffff;
    margin-left: 170px;
    margin-top: 25px;
    font-size: 120%;
    font-weight: 350;
}

.lowername{
    padding-left: 20px;
    color: #ffffff;
    margin-left: 290px;
    font-size: 30px;
    font-weight: 300;
}
.logo{
    height: 110px;
    width: 104px;
    float: left;
    padding-top: 15px;
    border-radius: 55%;
    margin-left: 30px;
}

.slogan{
    color: #ffffff;
    margin-top: 25px;
    margin-left:0px;
    font-size: 20px;
    font-family: cursive;
    position: relative;
}

.main-nav{
    float: right;
    list-style: none;
    color: #ff0000;
    padding-top: 0px;
    padding-bottom: 20px;
}
.main-nav li{
    display: inline-block;
    margin-left: 20px;
}
.main-nav li a:link,
.main-nav li a:visited{
    padding-bottom: 8px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size:  90%;
    border-bottom: 2px solid transparent;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22; 
}
h2{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
    font-size: 35px;
    padding-bottom: 15px;
    
}
h2:after{
    display: block;
    height: 3px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 15px;
}
.quote{
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-size: 30px;
    padding-bottom: 20px;
    font-family: cursive;
}
.smallhead{
    padding-top: 17px;
}
.section-features:after{
    display: block;
    height: 3px;
    background-color: #5d5d5d;
    content: " ";
    width: 1000px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.introduction{
    padding: 0px;
    background-color:#413e3e;
    color: #fff;
}
.intro{
    padding: 0.5%;
    /*border: 3px solid #e67e22;*/
    transform: scale(1);
    transition: transform 0.5s;
}
.intro:hover{
    background-color: #242323;
    transform: scale(1.05);
}
.intro img{
    margin-left: 33%;
    margin-bottom: 3%;
    margin-top: 3%;
    width: 25%;
    border-radius: 500px;
    width: 200px;
    height: 200px;
    opacity: 0.9;
    /*border: 2px solid #e67e22;*/
}
.intro li{
    list-style: none;
    padding-left: 33%;
    padding-bottom: 7px;
    font-weight:500;
    font-size: 23px;
}
.intro p{
    padding: 2%;
    font-family: sans-serif;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-size: 20px;
}
.explain{
    padding: 0.5%;
    float: left;
    /*border: 3px solid #e67e22;*/
    transform: scale(1);
    transition: transform 0.5s;
}
.explain:hover{
    background-color:#242323;
    transform: scale(1.05);
}
.explain img{
    margin-left: 33%;
    margin-bottom: 3%;
    margin-top: 3%;
    width: 25%;
    border-radius: 500px;
    width: 200px;
    height: 200px;
    opacity: 0.9;
    transform: scale(1);
    transition: transform 0.5s ,opacity 0.2s;
    /*border: 2px solid #e67e22;*/
}
.explain li{
    list-style: none;
    padding-left: 30%;
    padding-bottom: 7px;
    font-weight:500;
    font-size: 23px;
}
.explain p{
    padding: 2%;
    font-family: sans-serif;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-size: 20px;
}
.head{
    color: #e67e22;
}
.contact-form{
    width: 60%;
    margin: 0 auto;
}
input[type=text],
input[type=email],
input[type=number],
select{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
input[type=checkbox]{
    margin: 10px 5px 10px 0;
}
*:focus{outline:none;}
.footerpart1{
    margin-top: 0px;
    padding-top: 18px;
    background-color: #413e3e;
    color: #fff;
}
.small_logo{
    margin-top: 5px;
    height: 90px;
    width: 90px;
    border-radius: 55%;
    margin-left: 40%;
}
.firstextra{
    padding-left: 2%;
}
.firstextra p{
    text-align: center;
    font-weight: 300;
    padding-bottom: 10px;
    font-size: 15px;
}
.end:after{
    border-bottom: 3px solid #e67e22;
    letter-spacing: 1px;
    word-spacing: 4px;
}
.social{
    height: 45px;
    width: 45px;
    border-radius: 20%;
    margin-top:20px;
    margin-left: 55px; 
    transform: scale(1);
    transition: transform 0.1s;
}
.social:hover,
.social:active{
    transform: scale(1.1);
}
.secextra{
    padding-left: 8%;
}
.secextra img{
    height: 35px;
    width: 35px;
}
.mail{
    padding-top: 20px;
    color: #e67e22;
}
.last{
   font-size: 17px;
    letter-spacing: 0.5px;
    font-weight: 400;
}
.footerpart2{
    background-color: #413e3e;
    color: #fff;
}
.footerpart3{
    background-color: #413e3e;
    color: #fff;
    padding-bottom: 0px;
}
.heading{
    color: #e67e22;
    padding-top: 0px;
    padding-bottom: 0px;
}
.add{
    color: #e67e22;
}
.secextra a:link,
.secextra a:visited{
    color: #fff;
}
.secextra a:hover,
.secextra a:active{
    color:#e67e22 ;
}
.aim{
    font-family: cursive;
}

.poor{
    margin-top: 15px;
    margin-left: 0px;
    height:300px;
    width: 300px;
    float: left;
}
.poorpara1{
    margin-left: 20px;
    float: left;
}
.poorpara2{
    margin-left: 10px;
    float: left;
}
.poorpara3{
    margin-left: 125px;
    padding-top: 50px;
    color: #e53818;
    letter-spacing: 1px;
    font-weight: 400;
}
.special{
    margin-right: 20px;
    margin-top: 35px;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    border: 3px solid #e67e22;
}

/*

*/